<section class="contaier-about-me">
	<h2 class="v-hidden">Name</h2>
	<div class="description-about-me">
		<div class="description-my-work">
			<p class="what-i-do">I work with people all over the world to create impressive and <span
					class="functional">functional</span>
				<span class="websites">websites</span> that reflect each client's unique
				personality.
			</p>
		</div>
	
		<picture>
			<source srcset="./img/about-me/about-mob.jpg 1x, ./img/about-me/about-mob@2x.jpg 2x"
				media="(max-width: 767px)">
			<source srcset="./img/about-me/about-tab.jpg 1x, ./img/about-me/about-tab@2x.jpg 2x"
				media="(min-width: 768px)">
			<source srcset="./img/about-me/about-desk.jpg 1x, ./img/about-me/about-desk@2x.jpg 2x"
				media="(min-width: 1280px)">
	
			<img src="./img/about-me/about-tab.jpg"
				alt="a man is sitting at a table and there is a laptop and a computer mouse on the table" width="704"
				class="photo-about-me">
		</picture>
	
	</div>
</section>