<section id="covers" class="container container-covers">
  <h2 class="hidden">Covers</h2>
  <div class="content">
    <div class="marquee__inner">
      <img
    class="marquee__line"
    src="./img/covers/rectangle-1.jpg"
    alt="A brand what is inspired"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-1.jpg"
    alt="A brand what is inspired"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-8.jpg"
    alt="Get body in shape"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-7.jpg"
    alt="Organic vegetables"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-5.jpg"
    alt="Welcome to our collection"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-10.jpg"
    alt="Discover the joy of learning"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-7.jpg"
    alt="Organic vegetables"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
</div>
<div class="marquee__inner">
  <img
    class="marquee__line"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-7.jpg"
    alt="Organic vegetables"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-9.jpg"
    alt="Fresh harvest box"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-5.jpg"
    alt="Welcome to our collection"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-5.jpg"
    alt="Welcome to our collection"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-8.jpg"
    alt="Get body in shape"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-9.jpg"
    alt="Fresh harvest box"
    loading="lazy"
  />
</div>
<div class="marquee__inner">
  <img
    class="marquee__line"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-3.jpg"
    alt="MIMINO"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-1.jpg"
    alt="A brand what is inspired"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-10.jpg"
    alt="Discover the joy of learning"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-4.jpg"
    alt="Manage your finance"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-3.jpg"
    alt="MIMINO"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-7.jpg"
    alt="Organic vegetables"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-7.jpg"
    alt="Organic vegetables"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-9.jpg"
    alt="Fresh harvest box"
    loading="lazy"
  />
</div>
<div class="marquee__inner"><img
    class="marquee__line"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-9.jpg"
    alt="Fresh harvest box"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-4.jpg"
    alt="Manage your finance"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-5.jpg"
    alt="Welcome to our collection"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-3.jpg"
    alt="MIMINO"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-8.jpg"
    alt="Get body in shape"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-1.jpg"
    alt="A brand what is inspired"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
</div>
<div class="marquee__inner"><img
    class="marquee__line"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-10.jpg"
    alt="Discover the joy of learning"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-10.jpg"
    alt="Discover the joy of learning"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-3.jpg"
    alt="MIMINO"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-1.jpg"
    alt="A brand what is inspired"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-3.jpg"
    alt="MIMINO"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-9.jpg"
    alt="Fresh harvest box"
    loading="lazy"
  />
  <img
    class="marquee__line"
    src="./img/covers/rectangle-3.jpg"
    alt="MIMINO"
    loading="lazy"
  />
</div>
  </div>
  </section>
</section>
