<section id="convers">
  <h2 class="hidden">Convers</h2>
  <div class="content">
    <div class="marquee__inner">
      <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-7.jpg"
    alt="Organic vegetables"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-10.jpg"
    alt="Discover the joy of learning"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-4.jpg"
    alt="Manage your finance"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-7.jpg"
    alt="Organic vegetables"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-7.jpg"
    alt="Organic vegetables"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-10.jpg"
    alt="Discover the joy of learning"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-10.jpg"
    alt="Discover the joy of learning"
    loading="lazy"
  />
</div>
<div class="marquee__inner"><img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-5.jpg"
    alt="Welcome to our collection"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-1.jpg"
    alt="A brand what is inspired"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-4.jpg"
    alt="Manage your finance"
    loading="lazy"
  /><img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-4.jpg"
    alt="Manage your finance"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-5.jpg"
    alt="Welcome to our collection"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-3.jpg"
    alt="MIMINO"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-9.jpg"
    alt="Fresh harvest box"
    loading="lazy"
  />
</div>
<div class="marquee__inner"><img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-3.jpg"
    alt="MIMINO"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-3.jpg"
    alt="MIMINO"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-8.jpg"
    alt="Get body in shape"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-3.jpg"
    alt="MIMINO"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-7.jpg"
    alt="Organic vegetables"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-10.jpg"
    alt="Discover the joy of learning"
    loading="lazy"
  />
</div>
<div class="marquee__inner"><img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-8.jpg"
    alt="Get body in shape"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-5.jpg"
    alt="Welcome to our collection"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-3.jpg"
    alt="MIMINO"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-7.jpg"
    alt="Organic vegetables"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-6.jpg"
    alt="Reviving the traditional Ukraine"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-1.jpg"
    alt="A brand what is inspired"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-8.jpg"
    alt="Get body in shape"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-9.jpg"
    alt="Fresh harvest box"
    loading="lazy"
  /></div>
  <div class="marquee__inner"><img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-7.jpg"
    alt="Organic vegetables"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-3.jpg"
    alt="MIMINO"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-5.jpg"
    alt="Welcome to our collection"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-8.jpg"
    alt="Get body in shape"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-9.jpg"
    alt="Fresh harvest box"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-5.jpg"
    alt="Welcome to our collection"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-8.jpg"
    alt="Get body in shape"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-2.jpg"
    alt="Transform your body"
    loading="lazy"
  />
  <img
    class="marquee__line"
    srcset="./img/covers/c 2x"
    src="./img/covers/rectangle-1.jpg"
    alt="A brand what is inspired"
    loading="lazy"
  />
</div>
</div>

  <h3>reviews</h3>
  <ul>revievs</ul>
  <li>
    <img src="./img/covers/rectangle-2.jpg" alt="Пример">
    <p>111</p>
    <p>222</p>
  </li>
  </section>
</section>
