<link rel="stylesheet" href="../css/covers.css" />

<section id="convers">
  <h2>Convers</h2>
  <div class="content">
    <div class="marquee">
      <div class="marquee__inner">
        <img
          class="marquee__line"
          srcset=".../img/covers/covers/rectangle-3@2x.jpg 2x"
          src="../img/covers/rectangle-3.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-4@2x.jpg 2x"
          src="../img/covers/rectangle-4.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-4@2x.jpg 2x"
          src="../img/covers/rectangle-4.jpg"
          alt="Turn your business"
          loading="lazy"
        />
      </div>

      <div class="marquee__inner">
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-3@2x.jpg 2x"
          src="../img/covers/rectangle-3.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-4@2x.jpg 2x"
          src="../img/covers/rectangle-4.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-4@2x.jpg 2x"
          src="../img/covers/rectangle-4.jpg"
          alt="Turn your business"
          loading="lazy"
        />
      </div>

      <div class="marquee__inner">
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-4@2x.jpg 2x"
          src="../img/covers/rectangle-4.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-5@2x.jpg 2x"
          src="../img/covers/rectangle-5.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-6@2x.jpg 2x"
          src="../img/covers/rectangle-6.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-7@2x.jpg 2x"
          src="../img/covers/rectangle-7.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-8@2x.jpg 2x"
          src="../img/covers/rectangle-8.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-9@2x.jpg 2x"
          src="../img/covers/rectangle-9.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-10@2x.jpg 2x"
          src="../img/covers/rectangle-10.jpg"
          alt="Turn your business"
          loading="lazy"
        />
      </div>
      <div class="marquee__inner">
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-7@2x.jpg 2x"
          src="../img/covers/rectangle-7.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-8@2x.jpg 2x"
          src="../img/covers/rectangle-8.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-9@2x.jpg 2x"
          src="../img/covers/rectangle-9.jpg"
          alt="Turn your business"
          loading="lazy"
        />
        <img
          class="marquee__line"
          srcset="../img/covers/rectangle-10@2x.jpg 2x"
          src="../img/covers/rectangle-10.jpg"
          alt="Turn your business"
          loading="lazy"
        />
      </div>
    </div>
  </div>
</section>
