<footer class="footer">
  <h2 class="footer-header">
    <img class="footer-img" src="" srcset="" alt="" /> let's
    <span class="footer-span">work</span> together
  </h2>

  <form class="footer-form">
    <input
      class="footer-form-input"
      type="email"
      placeholder="clients@gmail.com"
    />
    <input class="footer-form-input" type="text" placeholder="comments" />

    <button class="footer-form-btn" type="submit">Send</button>
  </form>

  <nav class="footer-nav">
    <ul class="footer-contacts">
      <li class="footer-li">
        <a href="mailto:lloydjefferson@gmail.com">lloydjefferson@gmail.com</a>
      </li>
      <li class="footer-li">
        <a href="tel:+3801111111111">+380 11 1111 11 11</a>
      </li>
    </ul>
  </nav>
</footer>
