<section class="section-header">
  <header class="header">
    <div class="container header-container">
      <nav class="header-nav">
        <a class="header-logo" href="../index.html">
          <img
            class="header-logo-img"
            src="../img/header-footer/jeff-logo.png"
            alt="Jefferson"
          />
          <svg class="header-logo-icon" width="84" height="19">
            <use href="../img/sprite.svg#icon-jefferson"></use>
          </svg>
        </a>
        <ul class="header-list">
          <li class="header-item">
            <a href="#about-me">About me</a>
          </li>
          <li class="header-item">
            <a href="#benefits">Benefits</a>
          </li>
          <li class="header-item">
            <a href="#projects">Projects</a>
          </li>
          <li class="header-item">
            <a href="#faq">FAQ</a>
          </li>
        </ul>

        <button
          class="header-burger js-open-menu"
          type="button"
          aria-expanded="false"
          aria-controls="mobile-menu"
        >
          <svg class="header-burger-icon" width="28" height="28">
            <use href="../img/sprite.svg#icon-menu"></use>
          </svg>
        </button>
      </nav>
    </div>
  </header>

  <div class="menu-container js-menu-container" id="mobile-menu">
    <button class="menu-toggle js-close-menu">
      <svg class="mobile-close" width="14" height="14">
        <use href="../img/sprite.svg#icon-close"></use>
      </svg>
    </button>

    <ul class="mobile-menu">
      <li class="mobile-item">
        <a href="#about-me">About me</a>
      </li>
      <li class="mobile-item">
        <a href="#benefits">Benefits</a>
      </li>
      <li class="mobile-item">
        <a href="#projects">Projects</a>
      </li>
      <li class="mobile-item">
        <a href="#faq">FAQ</a>
      </li>
    </ul>

    <button type="button">
      <a href="#work-with-me" class="link">Order the project</a>
    </button>
  </div>
</section>
