<section class="hero section">
  <div class="container hero-container">
    <div class="hero-title-container">
      <h1 class="hero-title">
        Hello.<br />
        I'm Fullstack developer Lloyd Jefferson.
      </h1>
    </div>
    <div class="network">
      <ul class="network-list">
        <li class="network-item">
          <a
            class="social-link"
            href="https://www.instagram.com/goitclub/"
            target="_blank"
            rel="noopener noreferrer"
            >IG</a
          >
        </li>
        <li class="network-item">
          <a
            class="social-link"
            href="http://www.facebook.com/goITclub/"
            target="_blank"
            rel="noopener noreferrer"
            >FB</a
          >
        </li>
        <li class="network-item">
          <a
            class="social-link"
            href="http://www.youtube.com/c/GoIT"
            target="_blank"
            rel="noopener noreferrer"
            >YT</a
          >
        </li>
        <li class="network-item">
          <a
            class="social-link"
            href="https://github.com/Svietlova/project-SevenTeam17"
            target="_blank"
            rel="noopener noreferrer"
            >GH</a
          >
        </li>
        <li class="network-item">
          <a class="email" href="mailto:lloydjefferson@gmail.com"
            >lloydjefferson@gmail.com</a
          >
        </li>
      </ul>
    </div>
  </div>
  <!-- <div class="cover _ibg">
    <img src="../img/hero/rectangle-desc-opt.jpg" alt="cover" />
  </div> -->
</section>
