<section id="projects" class="projects_section">
  <h2 class="projects_title">projects</h2>
  <div class="projects_container">
    <div class="projects_description_box">
      <ul class="projects_tag_list">
        <li class="projects_tag">#react</li>
        <li class="projects_tag">#js</li>
        <li class="projects_tag">#node js</li>
        <li class="projects_tag">#git</li>
      </ul>
      <p class="projects_description">
        Programming Across <br />Borders: Ideas,<br />Technologies, Innovations
      </p>
      <a href="https://www.google.com.ua/" target="_blank">
        <button class="projects_description_btn">See projects</button>
      </a>
    </div>
    <div class="swiper projects_image_box">
      <div class="swiper-wrapper">
        <!-- Slides -->
      </div>
    </div>
  </div>
  <!-- If we need navigation buttons -->
  <div class="projects_btn_box">
    <div class="swiper-button-prev">
      <button class="projects_slider_btn--left inActive" type="button" disabled>
        <svg width="32px" class="btn_svg">
          <use href="../img/projects/symbol-icons.svg#icon-arrow-left"></use>
        </svg>
      </button>
    </div>
    <div class="swiper-button-next">
      <button class="projects_slider_btn--right" type="button">
        <svg width="32px" class="btn_svg">
          <use href="../img/projects/symbol-icons.svg#icon-arrow-right"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
