<section id="reviews" class="reviews-page">
  <div class="container">
    <h2 class="reviews-title">Reviews</h2>
    <div class="swiper-reviews">
      <ul class="swiper-wrapper reviews-list"></ul>
      <div class="reviews-btn-wrapper">
        <button class="reviews-btn-left reviews-btn" type="button">
          <svg
            class="reviews-btn-left-icon btn-icon"
            width="24"
            height="24"
            aria-label="left arrow"
          >
            <use href="../img/projects/projects-buttons.svg#arrow-left"></use>
          </svg>
        </button>
        <button class="reviews-btn-right reviews-btn" type="button">
          <svg
            class="reviews-btn-right-icon btn-icon"
            width="24"
            height="24"
            aria-label="right arrow"
          >
            <use href="../img/sprite.svg#icon-arrow-right"></use>
          </svg>
        </button>
      </div>
    </div>
  </div>
</section>
