.container-about-me {
  max-width: 343px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
  opacity: 0.9;
  padding: 0;
  padding-top: 32px;
  padding-bottom: 32px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container-about-me {
      max-width: 736px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0 auto;
      padding-left: 16px;
  }
}

@media screen and (min-width: 1440px) {
.container-about-me {
    max-width: 1376px;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }
}

/**
  |============================
  | Description styles
  |============================
*/

.description-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;
}

.description-my-work {
  display: flex;
  padding: 32px 32px 272px 32px;
  flex-direction: column;
  align-items: center;
  border-radius: 24px;
  background: #242527;
}

.what-i-do {
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 117%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
}

.functional {
  color: #ed3b44;
}

.websites {
  color: rgba(250, 250, 250, 0.4);
}

.picture-about {
  height: 500px;
}

.photo-about-me {
  width: 343px;
  height: 500px;
  border-radius: 24px;
  background: lightgray -188.547px -5.623px / 232.897% 106.525% no-repeat;
}

@media screen and (min-width: 768px) {
  /* .description-about-me {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 16px;
  } */

  .description-my-work {
    display: flex;
    width: 704px;
    height: 700px;
    padding: 64px 64px 436px 64px;
    justify-content: center;
    align-items: center;
    border-radius: 24px;
    background: #242527;
    flex-shrink: 0;
    
    
  }
  
  .what-i-do {
      font-size: 38px;
      
    }

  .picture-about {
    height: 700px;
  }

  .photo-about-me {
    width: 704px;
    height: 100%;

    border-radius: 24px;
    background: lightgray 50% / cover no-repeat;
  }

}

@media screen and (min-width: 1440px) {
  .description-about-me {
    display: flex;
    align-items: flex-start;
    flex-direction: row;
    gap: 16px;
  }

  .description-my-work {
    width: 680px;
    display: flex;
    padding: 64px 64px 436px 64px;
    flex-direction: column;
    align-items: center;
    border-radius: 24px;
    background: #242527;
    color: #fafafa;
    font-family: 'Inter Tight';
    font-size: 38px;
    font-style: normal;
    font-weight: 500;
    line-height: 40px;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .picture-about {
    width: 680px;
    height: 700px;
  }

  .photo-about-me {
    width: 680px;
    height: 100%;

    border-radius: 24px;
    background: lightgray 50% / cover no-repeat;
  }
}

/**
  |============================
  | Accordion styles
  |============================
*/

/* .about-me-acc-sec {
  cursor: pointer;
} */

.div-accordion-about {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding-top: 32px;
  padding-bottom: 32px;
}

.accordion-container-about {
  max-width: 343px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.ac-about {
  width: 343px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.ac-about.active {
  width: 343px;
  height: 560px;
}

.ac-about.active .ac-panel-about {
  opacity: 1;
}

.wrapper-ac-button-about {
  display: inline-flex;
  align-items: flex-start;
  gap: 23px;
}

.ac-header-about {
  width: 284px;
  color: rgba(250, 250, 250, 0.4);
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px;
  letter-spacing: -0.32px;
  text-transform: uppercase;
}

.ac-trigger-button-about {
  width: 36px;
  height: 36px;
  display: flex;
  padding: 9px;
  align-items: center;
  gap: 10px;
  border-radius: 100px;
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.ac-trigger-button-about .ac-icon-about-bottom:nth-child(1) {
  position: relative;
  padding: 0 25px 0 0;
}

.ac-trigger .ac-icon:nth-child(1)::after,
.ac-trigger .ac-icon:nth-child(1)::before {
  content: '';
  display: block;
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 11px;
  height: 3px;
  background: #fafafa;
}

.ac-trigger .ac-icon:nth-child(1)::after {
  transform: rotate(135deg);
  margin-left: 7px;
}

.ac-trigger .ac-icon:nth-child(1)::before {
  transform: rotate(-135deg);
}

.ac-panel-about {
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 32px;
}

.ac-text-about {
  width: 612px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  color: #fafafa;
  font-family: 'Inter Tight';
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: -0.32px;
}

.ac-panel-about {
  display: none;
}

.ac-panel-about.active {
  display: flex;
}

@media screen and (min-width: 768px) {
  .div-accordion-about {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
      padding-top: 96px;
      padding-bottom: 96px;
  
    }
  
    .accordion-container-about {
      width: 704px;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      margin: 0;
      gap: 32px;
    }
  
    .ac-about {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
    }
  
    .ac-about.active {
      width: 704px;
      height: 360px;
    }
  
    .ac-about.active .ac-panel-about {
      opacity: 1;
    }
  
    .wrapper-ac-button-about {
      display: inline-flex;
      align-items: flex-start;
      gap: 380px;
    }
  
    .ac-header-about {
      width: 284px;
      color: rgba(250, 250, 250, 0.4);
      font-family: 'Inter Tight';
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      letter-spacing: -0.32px;
      text-transform: uppercase;
    }
  
    .ac-trigger-button-about {
      display: flex;
      width: 40px;
      height: 40px;
      padding: 9px;
      align-items: center;
      gap: 10px;
      border-radius: 100px;
      opacity: 0;
      border: none;
    }
  
    .ac-trigger-button-about li:nth-child(1) {
      position: relative;
      padding: 0 25px 0 0;
    }
  
    .ac-trigger .ac-icon:nth-child(1)::after,
    .ac-trigger .ac-icon:nth-child(1)::before {
      content: '';
      display: block;
      position: absolute;
      top: calc(50% - 1px);
      left: 0;
      width: 11px;
      height: 3px;
      background: #fafafa;
    }
  
    .ac-trigger .ac-icon:nth-child(1)::after {
      transform: rotate(135deg);
      margin-left: 7px;
    }
  
    .ac-trigger .ac-icon:nth-child(1)::before {
      transform: rotate(-135deg);
    }
  
    .ac-panel-about {
      display: inline-flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 32px;
    }
  
    .ac-text-about {
      width: 704px;
  
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 16px;
      color: #fafafa;
      font-family: 'Inter Tight';
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 24px
        /* 150% */
      ;
      letter-spacing: -0.32px;
    }
  
    .ac-panel-about {
      display: none;
    }
  
    .ac-panel-about.active {
      display: flex;
    }
}

@media screen and (min-width: 1440px) {
  .div-accordion-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    padding-top: 96px;
    padding-bottom: 96px;
  }

  .accordion-container-about {
    width: 1376px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .ac-about {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .ac-about.active {
    width: 1376px;
    height: 400px;
  }

  .ac-about.active .ac-panel-about {
    opacity: 1;
  }

  .wrapper-ac-button-about {
    display: inline-flex;
    align-items: flex-start;
    gap: 1052px;
  }

  .ac-header-about {
    width: 284px;
    color: rgba(250, 250, 250, 0.4);
    font-family: 'Inter Tight';
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: -0.32px;
    text-transform: uppercase;
  }

  .ac-trigger-button-about {
    display: flex;
    width: 36px;
    height: 36px;
    padding: 9px;
    align-items: center;
    gap: 10px;
    border-radius: 100px;
    opacity: 0;
    border: none;
  }

  .ac-trigger-button-about .ac-icon-about-bottom:nth-child(1) {
    position: relative;
    padding: 0 25px 0 0;
  }

  .ac-trigger .ac-icon:nth-child(1)::after,
  .ac-trigger .ac-icon:nth-child(1)::before {
    content: '';
    display: block;
    position: absolute;
    top: calc(50% - 1px);
    left: 0;
    width: 11px;
    height: 3px;
    background: #fafafa;
  }

  .ac-trigger .ac-icon:nth-child(1)::after {
    transform: rotate(135deg);
    margin-left: 7px;
  }

  .ac-trigger .ac-icon:nth-child(1)::before {
    transform: rotate(-135deg);
  }

  .ac-panel-about {
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
  }

  .ac-text-about {
    width: 612px;

    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    color: #fafafa;
    font-family: 'Inter Tight';
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px
      /* 150% */
    ;
    letter-spacing: -0.32px;
  }

  .ac-panel-about {
    display: none;
  }

  .ac-panel-about.active {
    display: flex;
  }
}

/**
  |============================
  | Swiper styles
  |============================
*/

.third-part {
  padding-top: 16px;
  padding-bottom: 32px;
}

.mobile-open-ac {
  stroke: white;
  fill: transparent;
}

/* /////////////////Accordion style////////////////////// */
.accordion-header {
  display: flex;
  justify-content: space-between;
  margin-bottom: 8px;
}

.accordion-header.active {
  background-color: #ddd;
}

.accordion-button {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 100px;
  padding: 9px;
  width: 36px;
  height: 36px;
  background: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.accordion-panel {
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-in;
}

.accordion-panel.active {
  max-height: 100%;
}


/* /Swiper style/ */
.about-swiper-around {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  gap: 24px;
}

.swiper-button-lock {
  display: block !important;
}

.about-swiper-container {
  position: relative;
  width: 260px;
  overflow: hidden;
}

.about-swiper-button {
  border: none;
  background: none;
  padding: 3px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 34px;
  height: 34px;
}

.mobile-next-slider {
  stroke: #3b3b3b;
  fill: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.mobile-next-slider:hover,
.mobile-next-slider:focus {
  stroke: #fafafa;
}

.list-skills {
  display: flex;
}

.about-swiper-items {
  border-radius: 100%;
  border: 1px solid rgba(250, 250, 250, 0.2);
  width: 130px !important;
  height: 130px !important;
  display: flex !important;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
}

.about-swiper-items.active {
  background-color: #ed3b44;
  border: #ed3b44;
}

.swiper-about {
  display: flex;
  align-items: center;
}


@media screen and (min-width: 768px) {
  .about-swiper-around {
    gap: 64px;
  }

  .about-swiper-container {
    width: 600px;
  }

  .about-swiper-items {
    font-size: 20px;
  }

  .about-swiper-items {
    height: 200px !important;
    width: 200px !important;
    font-size: 20px;
  }

  .about-swiper-button {
    height: 40px;
    width: 40px;
  }

}

@media screen and (min-width: 1440px) {
  .about-swiper-around {
    gap: 72px;
  }

  .about-swiper-container {
    width: 1200px;
  }

  .swiper-about {
    padding-top: 48px;
    padding-bottom: 82px;
  }
}