.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* body {
  padding: 0;
  margin: 0;
} */

.container-covers {
  padding: 0px;
  margin-top: 64px;
}

.content {
  right: 0px;
  height: 508px;
  background-color: #1c1d20;
  background-image: url('../img/covers/ellipse-2@2x.png'),
    url('../img/covers/ellipse-2@2x.png');
  background-origin: center-box;
  background-position: -50vw -50vw, 50vw 50vw;
  background-repeat: no-repeat;
  background-size: 130vw 130vw, 130vw 130vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.content {
  overflow: hidden;
  position: relative;
}
.marquee {
  position: absolute;
  height: 508px;
  overflow: hidden;
}

.marquee__inner {
  margin-top: -150px;
  margin-bottom: 150px;
  display: flex;
  transform: rotate(16deg);
}

.marquee__line {
  flex-shrink: 0;
  margin-right: 20px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 282px;
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}

@media (min-width: 768px) and (max-width: 1439px) {
  .container-covers {
    margin-top: 96px;
  }

  .content {
    right: 0px;
    height: 960px;
    background-origin: center-box;
    background-position: -25vw -25vw, 50vw 50vw;
    background-size: 100vw 100vw, 100vw 100vw;
  }
  .marquee__line {
    width: 544px;
    margin-right: 50px;
    margin-top: 50px;
  }
}

@media (min-width: 1440px) {
  .container-covers {
    margin-top: 164px;
  }

  .content {
    max-height: 960px;
    background-image: url('../img/covers/ellipse-2@2x.png'),
      url('../img/covers/ellipse-2@2x.png'),
      url('../img/covers/ellipse-2@2x.png');
    height: 66vw;
    background-origin: center-box;
    background-position: 20vw -15vw, -15vw 25vw, 65vw 30vw;
    background-size: 50vw 50vw, 50vw 50vw, 50vw 50vw;
  }
  .marquee__line {
    width: 544px;
    margin-right: 50px;
    margin-top: 50px;
  }
}
