.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  padding: 0;
  margin: 0;
}

content {
  max-width: 1440px;
  width: 100vw;
  overflow: hidden;
}

.content {
  right: 0px;
  height: 508px;
  background-color: #1c1d20;
  background-image: url('../img/covers/ellipse-2@2x.png'),
    url('../img/covers/ellipse-2@2x.png');
  background-origin: center-box;
  background-position: -50vw -50vw, 50vw 50vw;
  background-repeat: no-repeat;
  background-size: 130vw 130vw, 130vw 130vw;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}
.content {
  overflow: hidden;
  position: relative;
}
.marquee {
  position: absolute;
  height: 508px;
  overflow: hidden;
}

.marquee__inner {
  display: flex;
  transform: rotate(16deg);
}

.marquee__line {
  flex-shrink: 0;
  margin-right: 20px;
  margin-bottom: 25px;
  display: flex;
  align-items: center;
  justify-content: center;
  /* width: 100px; */
  /* height: auto; */
  width: 282px;
  /* width: calc(100% / 1.8); */
  /* height: calc(100% / 3); */
  white-space: nowrap;
  animation-name: marqueeLine;
  animation-duration: 5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}

@keyframes marqueeLine {
  from {
    transform: translateX(-20%);
  }

  to {
    transform: translateX(-180%);
  }
}
/* .reviews_list li img {
  min-width: 282.29px;
  height: auto;
} */

@media (min-width: 768px) and (max-width: 1439px) {
  .content {
    right: 0px;
    height: 960px;
    background-origin: center-box;
    background-position: -25vw -25vw, 50vw 50vw;
    background-size: 100vw 100vw, 100vw 100vw;
  }
  .marquee__line {
    width: 544px;
  }
}

/* .reviews_list li img {
    min-width: 544px;
    height: auto;
    object-fit: contain;
  }
} */

@media (min-width: 1440px) {
  .content {
    max-height: 960px;
    background-image: url('../img/covers/ellipse-2@2x.png'),
      url('../img/covers/ellipse-2@2x.png'),
      url('../img/covers/ellipse-2@2x.png');
    height: 66vw;
    background-origin: center-box;
    background-position: 20vw -15vw, -15vw 25vw, 65vw 30vw;
    background-size: 50vw 50vw, 50vw 50vw, 50vw 50vw;
  }
  .marquee__line {
    width: 544px;
  }
}

/* .reviews_list {
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: -0.02em;
  color: #fafafa;
  opacity: 0.4;
  text-transform: uppercase;
  padding-top: 64px;
  padding-left: 16px;
}

.reviews_list li {
  margin: 32px 24px 0px 24px;
  font-family: 'Inter Tight', sans-serif;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: -0.02em;
  text-align: left;
  text-transform: none;
  opacity: 1;
  border-color: #fafafa;
} */
