.faq-container {
    position: relative;
    max-width: 1440px;
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    background-color: #1C1D20;
    margin-top: 164px;
}

.section-name {
    font-family: "Inter Tight";
    font-size: 16px;
    font-weight: 600;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.4);
    margin-left: 32px;
    margin-bottom: 32px;
}

.faq-list {
    margin-left: 32px;
    margin-right: 32px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.faq-item {
    border: 1px solid rgba(250, 250, 250, 0.2);
    box-sizing: border-box;
}

.faq-item:nth-child(2n-1) {
    border-left: none;
}

.faq-item:nth-child(2n) {
    border-right: none;
}

.faq-item .faq-header {
    margin: 0;
}

.faq-item:nth-child(6) .faq-header {
    padding-right: 171px;
}

.faq-item .faq-button {
    font-family: "Inter Tight";
    font-weight: 600;
    font-size: 20px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: #FAFAFA;
    text-align: left;
    width: 100%;
    padding: 32px 0px 32px 32px;
    display: block;
    cursor: pointer;
    background-color: transparent;
    transition: color 0.25s ease;
    position: relative;
    text-decoration: none;
    margin: 0;
    border: 0;
    justify-content: space-between;
    align-items: center;
}

.faq-item:nth-child(2n-1) .faq-button {
    padding-left: 0px;
}

.faq-item .faq-button::after {
    content: url('../img/faq-arrow-down.svg');
    text-align: center;
    width: 40px;
    height: 40px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    position: absolute;
    right: 32px;
    top: 50%;
}

.faq-item:nth-child(2n) .faq-button::after {
    right: 0px;
}

.faq-item:nth-child(6) .faq-button::after {
    right: -171px;
}

.faq-item .faq-container-text {
    overflow: hidden;
    transition-property: height, visibility;
    transition-timing-function: ease;
}

.faq-item .faq-container-text .faq-text {
    font-family: "Inter Tight";
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -0.02em;
    color: rgba(250, 250, 250, 0.6);
    padding-right: 32px;
    padding-left: 32px;
    padding-bottom: 26px;
    margin: 0;
}

.faq-item:nth-child(2n-1) .faq-text {
    padding-left: 0px;
}

.faq-item:nth-child(2n) .faq-text {
    padding-right: 0px;
}

.faq-item:nth-child(5) .faq-text {
    padding-bottom: 56px;
}

.faq-item.js-enabled .faq-container-text {
    visibility: hidden;
}

.faq-item.is-active .faq-container-text {
    visibility: visible;
}

.faq-item.is-active>.faq-header .faq-button::after {
    content: url('../img/faq-arrow-up.svg');
}

@media screen and (max-width: 1439px) {
    .faq-container {
        width: 768px;
        height: auto;
        margin-top: 96px;
    }

    .faq-list {
        width: 704px;
        display: block;
        margin-bottom: 20px;
    }

    .faq-item {
        border-left: none;
        border-right: none;
    }

    .faq-item:nth-child(-n+3) {
        border-right: none;
    }

    .faq-list li:nth-last-child(-n+3) h3.faq-title {
        padding-left: 0px;
    }

    .faq-list li:nth-last-child(-n+3) p.faq-text {
        padding-left: 0px;
    }

    .faq-item:nth-child(5) .faq-text {
        padding-bottom: 26px;
    }

    .faq-button {
        margin-right: 0px;
    }

    .faq-item .faq-button::after {
        right: 0px;
    }
    
    .faq-item:nth-child(6) .faq-button::after {
        right: -230px;
    }

    .faq-item .faq-container-text .faq-text {
        padding-left: 0px;
        padding-right: 32px;
    }

    .faq-item .faq-button {
        padding-left: 0px;
    }

    .accordion-container li:nth-child(6) .faq-header {
        padding-right: 230px;
    }

}

@media screen and (max-width: 767px) {
    .faq-container {
        width: 375px;
        height: auto;
        margin-top: 64px;
    }

    .section-name {
        margin-left: 16px;
    }

    .faq-list {
        width: 343px;
        height: auto;
        margin-left: 16px;
        margin-right: 16px;
        margin-bottom: 20px;
    }

    .faq-item {
        width: 343px;
        height: auto;
        border-left: none;
        border-right: none;
    }

    .faq-item:nth-child(3),
    .faq-item:nth-child(6) {
        height: auto;
    }

    .faq-button:nth-child(1){
        padding-right: 60px;
    }

    .faq-item .faq-button {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .faq-item:nth-child(6) .faq-button::after {
        right: 0px;
    }

    .faq-text {
        width: 343px;
        height: auto;
        padding-bottom: 20px;
    }

    .faq-item .faq-container-text .faq-text {
        padding-right: 0px;
        padding-bottom: 20px;
    }

    .faq-item:nth-child(6) .faq-header {
        padding-right: 54px;
    }

    .accordion-container li:nth-child(6) .faq-header {
        padding-right: 0px;
    }
}