.footer {
  margin-left: 16px;
  margin-top: 32px;
}

.footer-header {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 40px;
  line-height: 100%;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #fafafa;
}

.footer-span {
  color: #ed3b44;
}

.footer-img {
  border-radius: 12px;
  border: none;
  width: 44px;
  height: 44px;
}

.footer-form {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-top: 64px;
}

.footer-form-input {
  border-top: none;
  border-left: none;
  border-right: none;
  border-width: 1px;
  border-color: rgba(250, 250, 250, 0.2);
  background: #1c1d20;
  width: 343px;
  height: 44px;
  color: #fafafa;
}

.footer-form-input::placeholder {
  padding-top: 20px;
  color: rgba(250, 250, 250, 0.6);

  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: -0.02em;
}

.footer-form-input:focus {
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.footer-form-input:active {
  border: 1px solid rgba(250, 250, 250, 0.2);
}

.footer-form-btn {
  background-color: #ed3b44;
  width: 100px;
  height: 100px;
  border-radius: 50%;

  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
  border: none;
  color: #fafafa;
  margin-top: 16px;
}

.footer-contacts {
  list-style: none;
  margin: 0;
  padding: 0;
  margin-top: 64px;

  display: flex;
  gap: 4px;
}

.footer-li {
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px;
}

.footer-li a {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  color: #fafafa;
  font-style: normal;
}

@media (min-width: 748px) {
  .footer {
    display: flex;
    flex-direction: column;
    justify-content: center;

    margin-left: 32px;
    margin-top: 80px;
    margin-bottom: 169px;
  }

  .footer-img {
    width: 70px;
    height: 70px;
  }

  .footer-form {
    flex-direction: row;
    gap: 32px;
    margin-top: 0;
  }

  .footer-form-input {
    width: 245px;
    height: 44px;
    margin-top: 32px;
  }

  .footer-form-btn {
    width: 150px;
    height: 150px;
    margin-top: 0;
  }

  .footer-header {
    width: 542px;

    font-weight: 500;
    font-size: 64px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: uppercase;
  }

  .footer-contacts {
    margin-top: 72px;
  }

  .footer-li {
    border: 1px solid rgba(250, 250, 250, 0.2);
    border-radius: 60px;
    padding: 18px 32px;

    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
  }

  .footer-li:nth-child(2) {
    margin-left: 8px;
  }
}

@media (min-width: 1440px) {
  .footer {
    margin-left: 196px;
  }

  .footer-form-input {
    width: 390px;
  }

  .footer-form-btn {
    margin-left: 54px;
  }
}
