.footer {
  padding-top: 32px;
  margin-right: auto;
  margin-left: auto;
  max-width: 342px;
}

.footer-container {
  padding-top: 32px;
  padding-bottom: 32px;
}

.footer-headline {
  display: flex;
  flex-direction: column;
  gap: 4px;
  margin-bottom: 63px;
}

.footer-headline-img {
  border-radius: 15px;
}

.footer-logo-tagline {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 8px;
}

.footer-headline-tagline {
  text-transform: uppercase;
  font-weight: 500;
  font-size: 40px;
  line-height: 1;
  letter-spacing: -0.03em;
}

.footer-headline-span {
  color: #ed3b44;
}

.footer-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 64px;
}

textarea::-webkit-scrollbar {
  width: 0px;
  height: 0px;
}

.footer-form-item {
  width: 100%;
  padding-bottom: 20px;
  height: 44px;
  color: #fafafa;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  border-top: none;
  border-right: none;
  border-left: none;
  border-bottom: 1px solid rgba(250, 250, 250, 0.2);
  background-color: inherit;
  outline: none;
}

.footer-form-input {
  margin-bottom: 16px;
}

.footer-form-textarea {
  margin-bottom: 32px;
}

.footer-form-item:focus,
.footer-form-item:hover {
  border-bottom-color: #fafafa;
}

.footer-input-success-message,
.footer-input-error-message {
  display: none;
  position: absolute;
  bottom: 7px;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.29%;
  letter-spacing: -0.02em;
  color: #3cbc81;
}

.footer-input-error-message {
  color: #e74a3b;
}

.footer-input-box {
  position: relative;
}

.footer-input-success {
  border-bottom-color: #3cbc81;
}

.footer-input-error {
  border-bottom-color: #e74a3b;
}

.footer-form-item::placeholder {
  color: rgba(250, 250, 250, 0.6);
}

.footer-form-button {
  border-radius: 100%;
  background-color: #e74a3b;
  width: 100px;
  height: 100px;
  border: none;
  padding: 0;
  color: #fafafa;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: -0.02em;
}

.footer-form-button:hover,
.footer-form-button:focus {
  outline: none;
}

.footer-address {
  display: flex;
  flex-direction: row;
  gap: 4px;
  justify-content: flex-start;
}

.footer-addres-item {
  border: 1px solid rgba(250, 250, 250, 0.2);
  border-radius: 60px;
  padding: 10px 12px;
  width: fit-content;
  height: 37px;
  font-weight: 500;
  font-size: 14px;
  letter-spacing: -0.02em;
  text-align: center;
  font-style: normal;
}

@media screen and (max-width: 333px) {
  .footer-addres-tel {
    padding-right: 0;
    padding-left: 0;
  }
}

.footer-addres-item:hover,
.footer-addres-item:focus {
  border-color: #fafafa;
  outline: none;
}

@media screen and (min-width: 768px) {
  .footer {
    padding-top: 48px;
    max-width: 768px;
  }

  .footer-container {
    padding-top: 80px;
    padding-bottom: 169px;
  }

  .footer-headline-tagline {
    font-size: 64px;
  }

  .footer-form {
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
  }

  .footer-form-item {
    width: 245px;
    margin: 0;
    align-items: center;
  }

  .footer-headline {
    gap: 7px;
    margin-bottom: 18px;
  }

  .footer-logo-tagline {
    gap: 20px;
  }

  .footer-headline-img {
    border-radius: 25px;
  }

  .footer-form-button {
    width: 150px;
    height: 150px;
  }

  .footer-address {
    gap: 8px;
  }

  .footer-addres-item {
    padding: 18px 32px;
    width: fit-content;
    height: 55px;
    font-size: 16px;
  }

  .footer-input-success-message,
  .footer-input-error-message {
    bottom: -9px;
  }
}

@media screen and (min-width: 1440px) {
  .footer {
    padding-top: 82px;
    max-width: 1440px;
  }

  .footer-container {
    max-width: 1050px;
    padding-left: 0;
    padding-right: 0;
  }

  .footer-form-item {
    width: 390px;
  }

  .footer-form-input {
    margin-right: 32px;
  }

  .footer-form-textarea {
    margin-right: 86px;
  }
}

.footer-modal-background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: rgba(15, 15, 16, 0.6);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.footer-modal-is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: painted;
}

.footer-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #1c1d20;
  border: 1px solid rgba(250, 250, 250, 0.1);
  border-radius: 20px;
  padding: 64px 32px;
  width: 343px;
  height: 276px;
}

.footer-modal-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 16px;
}

.footer-modal-btn {
  width: fit-content;
  height: fit-content;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  background-color: inherit;
  stroke: #fafafa;
  position: absolute;
  top: 20px;
  right: 20px;
}

@media screen and (max-width: 375px) {
  .footer-modal {
    padding: 20px;
    width: 240px;
  }

  .footer-modal-btn {
    top: 10px;
    right: 10px;
  }
}

.modal-tagline {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 600;
  font-size: 20px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: white;
}

.modal-text {
  font-family: 'Inter Tight', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(250, 250, 250, 0.6);
}

@media screen and (min-width: 768px) {
  .footer-modal {
    padding: 64px;
    width: 493px;
    height: 246px;
  }

  .footer-modal-btn-icon {
    width: 24px;
    height: 24px;
  }
}
