.header {
    position: relative;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 0 auto;
}

.header-container {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 0;

    transform: translate(-50%, 0);
}

.header-nav {
    background-color: transparent;
    display: flex;
    margin: 32px 16px 0 16px;
    min-width: 343px;
    justify-content: space-between;
    align-items:flex-start;
}

@media only screen and (max-width: 374px) {
    .header-nav {
        min-width: 300px;
        padding-left: 16px;
        padding-right: 16px;
    }
} 

@media only screen and (min-width: 768px) {
    .header-nav {
        min-width: 704px;
    }
}

@media only screen and (min-width: 1440px) {
    .header-nav {
        min-width: 1376px;
    }
}

.header-logo {
    display: flex;
}

.header-logo-icon {
    fill: #fafafa;
    width: 84px;
    height: 19px;
}

.main-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.menu-title {
    margin-top: 16px;
    width: 60px;
    height: 39px;
    padding: 10px;
    margin: 0;

    background-color: transparent;
    border: none;
    color: #fafafa;
    font-family: 'Inter Tight';
    font-weight: 500;
    font-size: 16px;
    letter-spacing: -0.02em;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}

.menu-title:hover,
.menu-title:focus {
    color: #ed3b44;
}

.menu-title:active {

}

@media only screen and (max-width: 767.98px) {
    .menu-title {
    display: none;
    }
}

.header-list {
    display: flex;
    flex-direction: column;
    align-items: center;

}

@media only screen and (max-width: 767px) {
    .header-list {
        display: none;
    }
}

.header-item {
    color: #fafafa;
    font-family: 'Inter Tight';
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    

    margin-bottom: 8px;
}

.header-item:hover,
.header-item:focus {
    color: #fafafa;
}

.header-burger {
    display: flex;
    align-items: center;
    justify-content: center;

    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.header-burger-icon {
    stroke: #fafafa;
}

@media only screen and (min-width: 768px) {
    .header-burger {
        display: none;
    }
}

.header-order-btn-td {
    color: rgba(250, 250, 250, 1);
    border-radius: 60px;
    border-style: none;
    background-color: rgba(237, 59, 68, 1);
    width: 163px;
    height: 55px;
}

.header-order-btn-td .link {
    color: #fafafa;
    font-family: 'Inter Tight';
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    letter-spacing: -0.02em;
}

.header-order-btn-td:hover,
.header-order-btn-td:focus {
    background-color: #e0373f;
}

.header-order-btn-td:active {
    background-color: #e0373f;
}

@media only screen and (max-width: 767.98px) {
    .header-order-btn-td {
        display: none;
    }
}

/**
     |============================
     Modal menu
     |============================
   */

.menu-toggle {
    min-height: 32px;
    min-width: 32px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    outline: none;
}

.mobile-close {
    width: 28px;
    height: 28px;
    stroke: #fafafa;
}

@media (min-width: 768px) {
    .menu-toggle {
        display: none;
    }
}

.menu-toggle:hover,
.menu-toggle:focus {
    background-color: rgba(0, 0, 0, 0.1);
}

.menu-container {
    position: fixed;
    top: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    background-image: url(../img/hero/hero-background@1xmob.png);
    background-size: cover;
    min-width: 320px;
    z-index: 999;

    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
    transform: translateX(0);
    display: flex;
    align-items: center;
}

.menu-container .menu-toggle {
    position: absolute;
    top: 20px;
    right: 20px;
}

.mobile-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 302px;
    margin-bottom: auto;
    min-width: 320px;
}

.mobile-menu .link {
    display: block;
    color: #fafafa;
    font-family: 'Inter Tight';
    font-size: 16px;
    font-weight: 500;
    line-height: normal;
    text-decoration: underline;
    text-decoration-skip-ink: none;
}
.mobile-item:hover,
.mobile-item:focus {
    color: #ed3b44;
}

.mobile-item:not(:last-child) {
    margin-bottom: 12px;
}

.header-order-btn{
    color: rgba(250, 250, 250, 1);
    padding: 14px 31px;
    border-radius: 60px;
    border-style: none;
    background-color: rgba(237, 59, 68, 1);
    width: 164px;
    height: 45px;
    margin-bottom: 64px;
}